/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color:white;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.page {
background-image:url('/assets/background-tree.jpg');
background-position: center top;

margin: 0 auto;
width: auto;
max-width: 1400px;
min-height: 900px;
height: auto;
border-bottom-style: solid;
padding-bottom: 80px;
}
.site {
  font-size: 115%;
  text-align: justify;
  width: 900px;
  margin: 10px auto;
  line-height: 1.5em;
  background-color: white;
  box-shadow: 5px 5px 5px #888888;
}

.content {
  border: 2px solid;
  border-radius: 5px;
  border-color: black;
  padding: 5px;
}
.banner {
background-color: #197519;
width: auto;
height: 50px;
border-bottom-style: solid;
border-width: 3px;
}

.header a {
  font-weight: bold;
  text-decoration: none;
  font-size: 120%;
}

.nav-bar a {
color: #0066FF;
font-size: 150%;
padding: 15px;
font-weight: bold;

}

.title {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  float:left;
}

.title a {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 150%;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: white;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
  height: 80px;
  width: 100%;
  background: white;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
